/*!*!* Full height *!*!*/
    /*!*height: 100%;*!*/




/*!*body {*!*/
    /*!*background: transparent !important;*!*/
/*!*}*!*/.bg1{background:url(main-fondo.c569bd8be455df1eb306.jpg);background-position:50%;background-repeat:no-repeat;background-size:cover;background-attachment:fixed}.bg,.bg1{height:100%}.bg{background:url(login-fondo.74468e9f2eee53aa1f81.jpg);background-position:50%;background-repeat:no-repeat;background-size:cover;background-attachment:fixed}
